* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body,#root {
  height: 100%;
  width: 100%;
}

.parent {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background-color:white;
  color:black;
  width:300px;
  height:400px;
  border-radius:20px;
  overflow:hidden;
  padding:30px;
}

.card .top{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.top img{
  height:32px;
  width:30px;
  border-radius:50%;
  border:1px solid #dadada;
  padding:2px;
}

.top button{
  display:flex;
  align-items:center;
  border:1px solid #dadada;
  padding:4px 8px;
  font-size:10px;
}

.bottom{
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-top:1px solid #dadada;
}