* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.parent {
  height: 100vh;
  width: 100vw;
  background-color: rgba(153, 220, 247, 0.916);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 220px;
  width: 280px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #333;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.navbar {
  display: flex;
  justify-content: space-between;  /* keeps logo left, button right */
  align-items: center;
  padding: 10px 15px;
  background-color: transparent;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.logo {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  object-fit: cover;
  transition: all 0.9s ease;
  padding: 2px;
}
.logo:hover {
  transform: scale(1.1) rotate(360deg);
  box-shadow: 0 0 15px rgba(14, 170, 232, 0.916);
}
.btn {
  border: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: all 0.7s ease;
}

.btn:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(14, 170, 232, 0.916);
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
 display: flex;
 flex-direction: column;
 padding: 15px;
  align-items: flex-start;
}

.title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
}
.title:hover{
  color: #0eaae8;
  transform: scale(1.03);
}
.role{
  font-size: 14px;
  color: gray;
  margin-bottom: 5px;
  margin-left: 5px;
}
.btn_001{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.btn_01, .btn_02{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: all 0.7s ease;
}
.btn_01{
  background-color: #e0f3ff;
  color: #0eaae8;
}
.btn_01:hover{
  transform: scale(1.05);   
  box-shadow: 0 0 10px rgba(14, 170, 232, 0.916);
}
.btn_02{
  background-color: #f0e6ff;
  color: #8a2be2;
}
.btn_02:hover{
  transform: scale(1.05);   
  box-shadow: 0 0 10px rgba(138, 43, 226, 0.916);
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f9f9f9;
}